@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* reset-css */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
:after,
:before {
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:active,
a:hover,
a:focus {
  outline: 0;
}

figure,
form {
  margin: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

*::selection {
  background: #f14d54;
  color: #fff;
}

*:-webkit-selection {
  background: #f14d54;
  color: #fff;
}

*::-moz-selection {
  background: #f14d54;
  color: #fff;
}

html,
body {
  height: 100%;
}

/* reset-css */

body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1.25;
  font-weight: 400;
  color: #414141;
  background-color: #e6e6e6;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}

.btn.MuiButtonBase-root {
  display: inline-flex;
  height: 60px;
  min-width: 129px;
  line-height: 60px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 0 10px;
}

.btn.green-btn {
  color: #fff;
  background-color: #80bf32;
}

.btn.green-btn:hover {
  background-color: #528512;
}

.btn.pink-btn {
  color: #fff;
  background-color: #f14d54;
  height: 47px;
  line-height: 47px;
  padding: 0 29px;
  font-size: 20px;
  text-transform: none;
  border-radius: 2px;
}

.btn.pink-btn:hover {
  background-color: #ff101b;
}

body.open-menu {
  overflow: hidden;
  position: relative;
}

/* bread crumb */

.breadcrumb-wrapper ol {
  justify-content: center;
  margin-bottom: 32px;
}

.breadcrumb-wrapper ol li {
  font-size: 18px;
  color: #414141;
  font-weight: 300;
}

.breadcrumb-wrapper ol li a:hover {
  text-decoration: none;
  color: #f14d54;
}

.breadcrumb-wrapper ol li p {
  font-size: 18px;
  color: #f14d54;
  font-weight: 300;
}

.breadcrumb-wrapper ol li.MuiBreadcrumbs-separator {
  color: #b4b4b4;
  font-size: 20px;
}

/* bullet list */

.bullet-list {
  padding: 0 !important;
}

.bullet-list li {
  position: relative;
  padding: 0 0 0 12px;
  color: #212121;
  font-weight: 300;
}

.bullet-list li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 6px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #414141;
}

.bullet-list li + li {
  margin-top: 4px;
}

#root {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background: #fff;
}

.MuiInputLabel-outlined {
  position: relative !important;
  transform: none !important;
}

/* custom checkbox */

.custom-checkbox {
  font-weight: 300;
  color: #838383;
  font-size: 15px !important;
}

.custom-checkbox span {
  font-size: 15px;
  font-weight: 300;
}

.custom-checkbox .MuiSvgIcon-root {
  fill: #d5d5d5;
  width: 15px;
  height: 15px;
}

.custom-checkbox .Mui-checked .MuiSvgIcon-root {
  fill: #f14d54;
}

.custom-checkbox .MuiTouchRipple-child {
  background-color: #f14d54;
}

.cancel-popup .MuiTypography-h6 {
  font-weight: 700;
}

.cancel-popup .MuiDialogTitle-root {
  padding: 15px 15px 0;
}

.cancel-popup .MuiDialogContent-root {
  padding: 10px 15px 0;
}

.cancel-popup .MuiDialogContent-root p {
  color: #000;
}

.cancel-popup .btn {
  height: 30px !important;
  line-height: 30px !important;
  border-radius: 4px;
  font-size: 14px !important;
  min-width: 100px;
}

.pagination-wrapper {
  margin-top: 40px;
}

.pagination-wrapper .MuiPagination-ul {
  justify-content: center;
}

.pagination-wrapper .MuiPagination-ul .MuiPaginationItem-page.Mui-selected {
  background-color: #f14d54;
  color: #fff;
}

.pagination-wrapper .MuiPagination-ul .MuiPaginationItem-page:hover {
  background-color: rgba(241, 77, 84, 0.7);
  color: #fff;
}
.search-overlay{
  display: none;
}
.search-results-open .search-overlay{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

@media (max-width: 1199px) {
  .container {
    padding: 0 25px;
  }
}

@media (max-width: 767px) {
  .breadcrumb-wrapper ol {
    margin-bottom: 15px;
  }
  .btn.pink-btn {
    font-size: 18px;
  }
  .btn.MuiButtonBase-root {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
  }
}

@media (max-width: 574px) {
  .pagination-wrapper .MuiPagination-ul .MuiPaginationItem-root {
    font-size: 13px;
    min-width: 25px;
    height: 25px;
    margin: 0 2px;
  }
  .pagination-wrapper {
    margin-top: 30px;
  }
}
